html {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body {
    background: #000;
    height: 100vh;
    width: 100vw;
}

header {
    width: 100%;
    position: fixed;
    background-image: linear-gradient(180deg, rgba(66, 65, 65, .8), transparent);
    height: 100px;
    z-index: 1;
}

.container {
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    justify-content: space-between;
}
header .header-img {
    margin-left: 48px;
}
header .header-img img {
    height: 100px;
    width: auto;
}

#0000004fbar {
    display: flex;
    align-items: center;
    margin-left: -10%;
}

#navbar li {
    list-style-type: none;
}

#navbar li a {
    display: block;
    padding: 20px 18px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    transition: 0.3s;
}

#navbar .subnav {
    display: none;
}

#navbar li:hover a {
    opacity: 0.5;
}

/* Button setting */

.header-setting {
    display: flex;
    align-items: center;
    margin-right: 48px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc29;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.slider {
    /* background-color: #2196F3; */
}

input:focus+.slider {
    /* box-shadow: 0 0 1px #2196F3; */
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.fa-sun {
    display: block;
    position: absolute;
    font-size: 17px;
    top: 9px;
    left: 6px;
    color: #fff;
    cursor: pointer;
}

.fa-moon {
    display: block;
    position: absolute;
    font-size: 17px;
    top: 9px;
    left: 38px;
    color: #fff;
    cursor: pointer;

}

/* End toggle switch */

.header-setting .btn i {
    font-size: 25px;
    transition: 0.3s;
}
.btn-header {
    margin-left: 30px;
    display: flex;
}

.btn-header button {
    border: none;
    background-color: rgb(0 0 0);
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
    width: 32px;
    border-radius: 5px;
    height: 32px;
}

.header-setting button i {
    font-size: 14px;
}

.header-setting .signup-btn {
    background: rgb(255 255 255 / 12%);
    border: navajowhite;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    margin: 0 13px;
    padding: 8px 14px;
}

.header-setting button{
    transition: 0.3s;
}

.header-setting button:hover,
.header-setting a:hover {
    opacity: 0.3;
}
.real-time {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    background-color: rgba(0,0,0,0.2);
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5em;
}

.active {
    display: block !important;
}

.icon-show i {
    font-size: 18px !important;
    opacity: 0.5;
}

.videoIn {
    object-fit: cover;
    position: absolute;
}
.bg-video {
    -webkit-animation: showLoginModal .4s linear;
    animation: showLoginModal .5s linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes showLoginModal {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}
.bg-video__day {
    display: none;
}
.bg-video__rainyday {
    display: none;
}

.bg-video__night {
    display: none;
}

.bg-video__rainynight {
    display: none;
}

.bg-video__rainyday,
.bg-video__night,
.bg-video__rainynight {
    transition: 0.2;
}

.navbar {
    position: absolute;
    width: 100px;
    height: 100vh;
    right: 0;
}

.navbar--container {
    position: absolute;
    width: 49px;
    height: 240px;
    background-color: #121212;
    z-index: 1;
    right: 30px;
    bottom: 20%;
    border-radius: 8px;
}

.navbar--icon {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}

.navbar--icon button {
    background: none;
    border: none;
    display: block;
    margin-top: 12px;
    padding: 10px 0px;
    border-bottom: 1px solid #0000004f;
    cursor: pointer;
}

.navbar--icon button i {
    margin-bottom: 10px;
    color: #ffffff4f;
    transition:cubic-bezier(0.31, 0.99, 0, 0.94) 0.5s;
}

.navbar--icon button:hover i{
    color: rgb(237, 237, 237);
}

.menu {
    position: fixed;
    top: 75px;
    right: 92px;
    bottom: 0;   
}

.menu--container {
    background-color: #000;
    width: 350px;
    position: relative;
    min-height: 450px;
    border-radius: 20px;
    top: 30px;
    animation: hideBuyTickets ease 0.5s;
    display: none;
}

.menu--container h2{
    color: #fff;
    padding-left: 12px;
}

.menu--category {
    display: flex;
    width: 100%;
    align-content: space-between;
    justify-content: center;
}
.menu--category button{
    min-width: 80px;
    border-radius: 20px;
    border: none;
    margin: 0 10px;
    background-color: #ffffff21;
}
.menu--category button i{
    position: static;
    color: #ffffff42;
    font-size: 20px;
}
.menu--category button h3{
    color: #ffffff42;
    font-weight: 200;
}
.menu--content{
    position: absolute;
    padding: 0px 0px 13px 26px;
}

.btnMuteActive {
    display: none !important;
}

ul.menu_setting {
    position: absolute;
    background-color: #14141d;
    right: 30px;
    z-index: 50;
    top: 75px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}
ul.menu_setting li {
    list-style-type: none;
}
ul.menu_setting li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 6px 25px 7px 18px;
    font-size: 14px;
    cursor: pointer;
}
ul.menu_setting li a i {
    padding-right: 10px;
}
ul.menu_setting li:hover a {
    color: #fff;
    background-color: #F3A952;
    opacity: 1;
}
.active-menu {
    display: none;
}