.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* display: none; */
    background-color: #000000e0;
    z-index: 99999999;
    -webkit-animation: showLoginModal .4s linear;
    animation: showLoginModal .4s linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* transition: showLoginModal 0.3s cubic-bezier(0.71, 0.12, 1, 1); */
}

.modal-hide {
    display: none;
}

.modal-container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    -webkit-animation: showLoginModal .4s linear;
    animation: showLoginModal .4s linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* transition: showLoginModal 0.3s cubic-bezier(0.71, 0.12, 1, 1); */
}

.modal-container .modal-close {
    position: absolute;
    right: 20px;
    top: 30px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.modal-container .modal-close:hover {
    opacity: 0.3;
}

.modal-container .logo-img {
    width: 250px;
    margin-top: 80px;
}

.modal-container h3 {
    font-size: 46px;
    color: #fff;
    margin: 20px 0;
}

.modal-container h4 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 50px;
}

.modal-container h3,
.modal-container h4 {
    text-align: center;
}

.modal-container>a {
    color: #f3a952;
    text-decoration: none;
    text-align: center;
    width: 100%;
    display: block;
}

.modal-container div p {
    font-size: 16px;
    color: #fff;
    margin: 0;
    margin-right: 30px;
}

.modal-container .signup {
    display: flex;
    justify-content: center;
    margin: 1em 0px;
}

.modal-container div a {
    color: #f3a952;
    text-decoration: none;
}

.modal-container .modal-login>p {
    color: #fff;
    font-size: 12px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: -4px;
}

.modal-container .modal-login>a {
    text-decoration: none;
    font-size: 12px;
    color: #f3a952;
    /* margin-bottom: -21px; */
}

.modal-container .modal-login input::placeholder {
    color: #fff;
    font-weight: 400;
    opacity: 0.5;
}

.modal-container .modal-login input {
    border: 0;
    width: 98%;
    background: #14141d;
    padding: 0 1em 0 2em;
    outline: none;
    color: #fff;
}

.modal-container .modal-login .div-outline {
    border-bottom: 1px solid #3d3d3d;
    width: 97%;
    margin: 0 auto;
}

.modal-container .modal-login button {
    border: navajowhite;
    padding: 5px 35px;
    border-radius: 20px;
    background: #f3a952;
    font-weight: 500;
    display: block;
    cursor: pointer;
    margin: 1em auto 10px;
}

.modal-login .login-card {
    max-width: 100%;
    width: 400px;
    overflow: hidden;
    background: #14141d;
    border-radius: 10px;
}

.modal-login .ouline_input {
    display: flex;
    flex-direction: row;
}

.modal-login .ouline_input>div {
    background-color: #f3a952;
    height: 60px;
    opacity: 0;
    transition: all .2s ease-in-out;
    width: 4px;
}

input.input:focus+div {
    opacity: 1;
}

@keyframes showLoginModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.toggleWrapper {
    position: absolute;
    top: 50%;
    right: -5em;
    overflow: hidden;
    padding: 0 200px;
    transform: translate3d(-50%, -50%, 0);
}

.toggleWrapper input {
    position: absolute;
    left: -99em;
}

.toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 70px;
    height: 36px;
    background-color: #83D8FF;
    border-radius: 84px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 31px;
    height: 31px;
    background-color: #FFCF96;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
}

.toggle__handler .crater {
    position: absolute;
    background-color: #E8CDA5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
}

.toggle__handler .crater--1 {
    top: 14px;
    left: 6px;
    width: 3px;
    height: 3px;
}

.toggle__handler .crater--2 {
    top: 19px;
    left: 19px;
    width: 5px;
    height: 5px;
}

.toggle__handler .crater--3 {
    top: 5px;
    left: 17px;
    width: 7px;
    height: 7px;
}

.star {
    position: absolute;
    background-color: #ffffff;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
}

.star--1 {
    top: 10px;
    left: 35px;
    z-index: 0;
    width: 30px;
    height: 3px;
}

.star--2 {
    top: 18px;
    left: 24px;
    z-index: 1;
    width: 34px;
    height: 3px;
}

.star--3 {
    top: 27px;
    left: 40px;
    z-index: 0;
    width: 26px;
    height: 3px;
}

.star--4,
.star--5,
.star--6 {
    opacity: 0;
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
    top: 16px;
    left: 11px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
}

.star--5 {
    top: 30px;
    left: 17px;
    z-index: 0;
    width: 3px;
    height: 3px;
    transform: translate3d(3px, 0, 0);
}

.star--6 {
    top: 36px;
    left: 28px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
}

input:checked+.toggle {
    background-color: #749DD6;
}

input:checked+.toggle:before {
    color: #749ED7;
}

input:checked+.toggle:after {
    color: #ffffff;
}

input:checked+.toggle .toggle__handler {
    background-color: #FFE5B5;
    transform: translate3d(33px, 0, 0) rotate(0);
}

input:checked+.toggle .toggle__handler .crater {
    opacity: 1;
}

input:checked+.toggle .star--1 {
    width: 2px;
    height: 2px;
}

input:checked+.toggle .star--2 {
    width: 4px;
    height: 4px;
    transform: translate3d(-5px, 0, 0);
}

input:checked+.toggle .star--3 {
    width: 2px;
    height: 2px;
    transform: translate3d(-7px, 0, 0);
}

input:checked+.toggle .star--4,
input:checked+.toggle .star--5,
input:checked+.toggle .star--6 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

input:checked+.toggle .star--4 {
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked+.toggle .star--5 {
    transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked+.toggle .star--6 {
    transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}